nav {
  background-color: #eee;
  padding: 30px;
}

nav a {
  background-color: dodgerblue;
  color: #fff;
  text-decoration: none;
  padding: 20px 10px; /* we use padding from top & bottom to center the content inside the element vertically */
  font-size: 1.5em;
}

div {
  width: 200px;
  height: 200px;
  background-color: dodgerblue;
  line-height: 200px; /* we use line-height to center the content inside the element vertically */
  font-size: 1.5em;
}