div {
  position: relative;
  height: 250px;
  background-color: dodgerblue;
}

div p {
  padding: 10px;
  background-color: fuchsia;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}